<!-- Template help section html -->
<h2>Template Subroutine</h2>
<h3>Description</h3>
<p>Talk about how amazing this subroutine is.</P>
<h3>How to use this subroutine</h3>
<p>Describe this subroutines use.</p>
<h3>Subroutine Panel</h3>
<p>Subroutines.Template.View.ManageGui</p>
<img src="../Subroutines_Activated/Template/img/Template_Subroutine.png" alt="<Template Subroutine Image>">
<h4>User Settings for the Template section of configFile.json</h4>
<pre>
  Put any user editable settings here.
  
  "US" : {
        
  }
</pre>
