
<body>

<h2>Template Subroutine</h2>
<h3>Introduction</h3>
<p>Talk about how amazing this subroutine is.</P>

<h3>Subroutine Panel</h3>
<p>OperationsPatternScripts.jPlusSubroutine.Controller.makeSubroutinePanel()</p>
<img src="Template_Subroutine.png" alt="<Template Subroutine Image>">

<h4>Template Subroutine Settings in configFile.json</h4>
<pre>
  "JP" :{  <font color="blue">j Plus Details.</font>
    "OR" : "", <font color="green">Operating railroad, the one that owns the tracks.</font>
  },
</pre>

</body>
