<h2>Template Subroutine</h2>
<h3>Introduction</h3>
<p>Talk about how amazing this subroutine is.</P>
<h3>Subroutine Panel</h3>
<p>OperationsPatternScripts.jPlusSubroutine.Controller.makeSubroutinePanel()</p>
<img src="../Subroutines/Template/img/Template_Subroutine.png" alt="<Template Subroutine Image>">
<h4>Template Subroutine Settings in configFile.json</h4>
<pre>
  "Template" :{  <font color="DarkRed">Template Subroutine settings</font>
    "XX" : "<font color="green">Setting value if editable by the user</font>", <font color="DarkRed">Setting description</font>
    "XX" : "Setting value if not editable by the user", <font color="DarkRed">Setting description</font>
  },
</pre>
